// get translate to dist/css/main.css nu node_modules
// node-sass provide auto reload in dist/css/main.css

@import "config";
@import "menu";

* {
  // use * to select everything in scss
  box-sizing: border-box; // include padding and border inside width and height
}

body {
  @include background;
  background: $primary-color;
  color: set-text-color(
    $primary-color
  ); // make text visible in any background color
  height: 100%;
  margin: 0;
  font-family: "Seagoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5; // space between lines
}

// Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400; // make font thiner

  &.lg-heading {
    // attach to h1 h2 h3, not like .lg-heading which is within
    font-size: 6rem; // multiply default font-size of html by 6 (each rem is 1 default)
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem; // top&bot left&right
    background: rgba(
      lighten($primary-color, 2),
      0.5
    ); // make backgound of sm-heading lighter
    // rgba to be able to see through
  }
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed; // make header stays at top even if you screw done the screen
  z-index: 2; // how close to you an elem is, 0 behind 1, 1 behind 2...
  width: 100%; //always stretch across the whole screen
}

.text-secondary {
  // to target a class, last name
  color: $secondary-color;
}

main {
  padding: 4rem;
  min-height: calc(100vh - 55px);

  .icons {
    // only effect icons inside main
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color; // icon change color to yellow when hover
        @include easeOut(); // use @mixin function easeOut
      }
    }
  }

  &#home {
    overflow: hidden; // no screw bar
    h1 {
      margin-top: 20vh; //% of height of the viewport
    }
  }

  .note {
    margin: 10px;
    color: $secondary-color;
    font-size: 20px;
  }
}

// About me
.about-info {
  display: grid;
  grid-gap: 30px; // spacing between graps
  grid-template-areas: "bioimage bio bio" // first row
    "job1 job2 job3"; // second row
  grid-template-columns: repear(3, 1fr); // == 1fr 1fr 1fr

  // Define grid area
  .bio-image {
    grid-area: bioimage;
    width: 350px;
    height: 500px;
    margin-left: 100px;
    margin-right: 100px;
    border: $secondary-color 3px solid;
  }

  .bio {
    grid-area: bio;
    li {
      margin: 5px;
    }
  }

  .job-1 {
    grid-area: job1;
  }

  .job-2 {
    grid-area: job2;
  }
  .job-3 {
    grid-area: job3;
  }

  .job {
    background: lighten($primary-color, 5);
    padding: 0.4rem;
    border-bottom: $secondary-color 5px solid;
  }

  li {
    margin: 20px;
  }
}

// Work
.projects {
  display: grid;
  img {
    width: 100%;
    border: 3px black solid;

    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut;
    }
  }

  .project {
    margin: 30px;
    h3 {
      font-weight: 100;
      font-size: 30px;
      color: #a0522d;
    }
  }

  grid-template-areas:
    "project1"
    "project2"
    "project3";

  grid-template-columns: 1fr;
}

// Contact Page
.contact-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;

  div {
    font-size: 1.5rem;
    border: 3px gray solid;
    padding: 1rem 2rem;
    margin-bottom: 3rem;
    @include easeOut;
    &:hover {
      padding: 0.5rem 1rem;
      background: $secondary-color;
      color: set-text-color($secondary-color);
      span {
        color: set-text-color($secondary-color);
      }
    }
  }
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 55px;
}

@import "mobile"; // run after initial css
